@page "/batches"
@using TJConnector.SharedLibrary.DTOs.Forms
@using TJConnector.SharedLibrary.Models
@inject IBatchServiceWeb BatchService
@inject IProductService ProductService
@inject IMetadataService MetadataService
@inject IJSRuntime JSRuntime

<h3>Order Batches</h3>

<button class="btn btn-primary" style="font-size: 14px;" @onclick="ShowCreateOrderModal">Create New Order</button>

<div class="container">
    <div class="table-container" style="width: 75%;font-size: 12px;">
        @if (batches == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <CustomTable Items="batches" Columns="columns" OnRowClick="EventCallback.Factory.Create<Batch>(this, OnBatchClick)" SelectedItem="selectedBatchToHigh" />
        }
    </div>
    <div class="details-container" style="width: 25%;font-size: 12px;">
        @if (selectedBatch != null)
        {
            <h4>Order Information</h4>
            <div>
                <p><strong>Type:</strong> @selectedBatch.Type</p>
                <p><strong>Status:</strong> @selectedBatch.Status</p>
                <p><strong>Gtin:</strong> @selectedBatch.ProductGtin</p>
                <p><strong>Created At:</strong> @selectedBatch.RecordDate.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")</p>
                <p><strong>Requested Codes:</strong> @selectedBatch.RequestedCodes</p>
                <p>
                    <strong>Downloaded Codes:</strong>
                    <span class="@(selectedBatch.Status == "Completed" && selectedBatch.RequestedCodes != selectedBatch.DownloadedCodes ? "text-danger" : "")">
                        @selectedBatch.DownloadedCodes
                    </span>
                </p>
            </div>
            <h5>Status History</h5>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>GUID</th>
                        <th>Status</th>
                        <th>Requested</th>
                        <th>Downloaded</th>
                        <th>Date</th>
                    </tr>
                </thead>
                @if (selectedBatch.Orders != null)
                {
                    <tbody>
                        @foreach (var order in selectedBatch.Orders)
                        {
                            <tr>
                                <td>@order.ExternalGuid</td>
                                <td>@order.Status</td>
                                <td>@order.RequestedCodes</td>
                                <td class="@(selectedBatch.Status == "Completed" && order.RequestedCodes != order.DownloadedCodes ? "text-danger" : "")">
                                    @order.DownloadedCodes
                                </td>
                                <td>@order.RecordDate.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss")</td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
            @if (selectedBatch.Status == "Created" || selectedBatch.Status == "Processing")
            {
                <button class="btn btn-danger" @onclick="CancelBatch" disabled="@isProcessing">Cancel</button>
            }
            else if (selectedBatch.Status == "Completed")
            {
                <button class="btn btn-success" @onclick="DownloadBatchContent" disabled="@isDownloadingContent">Download</button>
            }
        }
        else
        {
            <p>Select a batch to view details.</p>
        }
    </div>
</div>

@if (showCreateOrderModal)
{
    <div class="modal" style="display: block;font-size: 12px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Order</h5>
                    <button type="button" class="close" @onclick="CloseCreateOrderModal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Type</label>
                            <select class="form-control" @onchange="OnTypeChange">
                                <option value="Pack">Pack</option>
                                <option value="Bundle">Bundle</option>
                                <option value="Mastercase">Mastercase</option>
                            </select>
                        </div>
                        @if (selectedType == "Mastercase")
                        {
                            <div class="form-group">
                                <label>Count Codes</label>
                                <input type="number" class="form-control" @bind="newOrderForm.CodesCount" max="10000" />
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" @bind="newOrderForm.Description" />
                            </div>
                        }
                        else if (selectedType == "Pack" || selectedType == "Bundle")
                        {
                            <div class="form-group" style="position: relative;">
                                <label>GTIN</label>
                                <input type="text" class="form-control" @bind="gtinInput" @oninput="OnGtinInput" />
                                @if (filteredProducts != null && filteredProducts.Any())
                                {
                                    <ul class="list-group" style="position: absolute; z-index: 1000; width: 100%;">
                                        @foreach (var product in filteredProducts)
                                        {
                                            <li class="list-group-item" @onclick="() => OnGtinSelected(product)">@product.Gtin</li>
                                        }
                                    </ul>
                                }
                            </div>
                            <div class="form-group">
                                <label>Product ID</label>
                                <input type="text" class="form-control" @bind="newOrderForm.ProductId" disabled />
                            </div>
                            <div class="form-group">
                                <label>Type</label>
                                <input type="text" class="form-control" @bind="newOrderForm.Type" disabled />
                            </div>
                            <div class="form-group">
                                <label>Codes Count</label>
                                <input type="number" class="form-control" @bind="newOrderForm.CodesCount" max="10000" />
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" @bind="newOrderForm.Description" />
                            </div>
                        }
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" @onclick="CreateOrder">Create</button>
                    <button class="btn btn-secondary" @onclick="CloseCreateOrderModal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private IEnumerable<Batch>? batches;
    private List<CustomTable<Batch>.ColumnDefinition<Batch>> columns = new();
    private Batch? selectedBatchToHigh;
    private BatchDTO? selectedBatch;
    private bool showCreateOrderModal = false;
    private BatchCreateForm newOrderForm = new();
    private IEnumerable<Product>? products;
    private string gtinInput = string.Empty;
    private IEnumerable<Product>? filteredProducts = new List<Product>();
    private PeriodicTimer? _timer;
    private CancellationTokenSource? _cts;


    private string? selectedType = "Pack";

    private void OnTypeChange(ChangeEventArgs e)
    {
        selectedType = e.Value?.ToString() ?? "Pack";
        if (selectedType == "Pack")
        {
            newOrderForm.Type = 0;
            gtinInput = string.Empty;
        }
        else if (selectedType == "Bundle")
        {
            newOrderForm.Type = 1;
            gtinInput = string.Empty;
        }
        else if (selectedType == "Mastercase")
        {
            gtinInput = string.Empty;
            newOrderForm.Type = 3;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        batches = await BatchService.GetBatchesAsync();
        products = await ProductService.GetProductsAsync();


        columns = new()
        {
            new() { Header = "ID", Value = o => o.Id },
            new() { Header = "Type", Value = o => GetProductTypeString(o.Type) },
            new() { Header = "Gtin", Value = o => o.Product?.Gtin ?? "N/A"  },
            new() { Header = "Count", Value = o => o.Count },
            new() { Header = "Created At", Value = o => o.RecordDate.ToLocalTime().ToString("yyyy-MM-dd HH:mm:ss") },
            new() { Header = "Status", Value = o => GetStatusTypeString(o.Status) },
            new() { Header = "Description", Value = o => o.Description }
        };
        StartAutoUpdate();
    }

    private void StartAutoUpdate()
    {
        _cts = new CancellationTokenSource();
        _ = AutoUpdateLoop(_cts.Token);
    }
    private async Task AutoUpdateLoop(CancellationToken token)
    {
        _timer = new PeriodicTimer(TimeSpan.FromSeconds(5));
        try
        {
            while (await _timer.WaitForNextTickAsync(token))
            {
                await InvokeAsync(LoadDataAsync);
            }
        }
        catch (OperationCanceledException)
        {
        }
    }
    private async Task LoadDataAsync()
    {
        batches = await BatchService.GetBatchesAsync();
        if (selectedBatch != null)
        {
            selectedBatch = await BatchService.GetBatchByIdAsync(selectedBatch.Id);
            selectedBatchToHigh = batches?.FirstOrDefault(b => b.Id == selectedBatch.Id);
        }
        StateHasChanged();
    }

    private async Task OnBatchClick(Batch batch)
    {
        //await UpdateExternalOrderStatus(batch.Id);
        selectedBatch = await BatchService.GetBatchByIdAsync(batch.Id);
        selectedBatchToHigh = batches?.FirstOrDefault(b => b.Id == selectedBatch.Id);
    }

    public void Dispose()
    {
        _cts?.Cancel();
        _timer?.Dispose();
        _cts?.Dispose();
    }

    private async Task UpdateExternalOrderStatus(int orderId)
    {
        var result = await BatchService.GetBatchByIdAsync(orderId);
        if (result is not null)
        {
            selectedBatch = result;
        }
        else
        {
            Console.WriteLine("Failed to update external order status: " + orderId);
        }
    }

    private bool isProcessing = false;
    private bool isDownloadingContent = false;

    private async Task CancelBatch()
    {
        if (selectedBatch != null)
        {
            isProcessing = true;
            await BatchService.CancelBatchAsync(selectedBatch.Id);
            isProcessing = false;
            batches = await BatchService.GetBatchesAsync();
            selectedBatch = null;
            StateHasChanged();
        }
    }

    private async Task DownloadBatchContent()
    {
        if (selectedBatch != null)
        {
            isDownloadingContent = true;
            var result = await BatchService.DownloadBatchContentAsync(selectedBatch.Id, "user");
            if (result is Microsoft.AspNetCore.Mvc.FileContentResult fileContentResult)
            {
                var fileName = $"codes_{selectedBatch.Type}_{selectedBatch.Description}.txt";
                var fileBytes = fileContentResult.FileContents;
                await DownloadFileAsync(fileName, fileBytes);
            }
            isDownloadingContent = false;
        }
    }

    private async Task DownloadFileAsync(string fileName, byte[] content)
    {
        var fileStream = new System.IO.MemoryStream(content);
        using var streamRef = new DotNetStreamReference(fileStream);

        await JSRuntime.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }

    private void ShowCreateOrderModal() => showCreateOrderModal = true;

    private void CloseCreateOrderModal()
    {
        showCreateOrderModal = false;
        gtinInput = string.Empty;
        filteredProducts = null;
        newOrderForm = new BatchCreateForm();
    }

    private async Task CreateOrder()
    {
        try
        {
            var result = await BatchService.CreateBatchAsync(newOrderForm);
            if (result is not null)
            {
                batches = await BatchService.GetBatchesAsync();
                gtinInput = string.Empty;
                filteredProducts = null;
                showCreateOrderModal = false;
            }
            else
            {
                Console.WriteLine("Failed to create order.");
                showCreateOrderModal = false;
                gtinInput = string.Empty;
                filteredProducts = null;
                batches = await BatchService.GetBatchesAsync();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error creating order: {ex.Message}");
            showCreateOrderModal = false;
            gtinInput = string.Empty;
            filteredProducts = null;
            batches = await BatchService.GetBatchesAsync();
        }
    }

    private void OnGtinInput(ChangeEventArgs e)
    {
        gtinInput = e.Value?.ToString() ?? string.Empty;

        filteredProducts = !string.IsNullOrEmpty(gtinInput)
            ? products?.Where(p => p.Gtin.Contains(gtinInput, StringComparison.OrdinalIgnoreCase)).Where(p => selectedType == "Pack" ? p.Type == 0 : p.Type == 1).Take(5)
            : null;
    }

    private void OnGtinSelected(Product product)
    {
        gtinInput = product.Gtin;
        newOrderForm.ProductId = product.Id;
        newOrderForm.Type = (sbyte)product.Type;
        filteredProducts = null;
        selectedType = "Pack";
    }
    private string GetProductTypeString(int type)
    {
        return type switch
        {
            0 => "Pack",
            1 => "Bundle",
            3 => "Mastercase",
            _ => "Unknown"
        };
    }
    private string GetStatusTypeString(int type)
    {
        return type switch
        {
            -1 => "Canceled",
            0 => "Created",
            1 => "Processing",
            2 => "Received"
        };
    }
}