@page "/emission"
@using TJConnector.SharedLibrary.DTOs.Forms
@inject IOrderService OrderService
@inject IProductService ProductService
@inject IMetadataService MetadataService
@inject IJSRuntime JSRuntime

<h3>Orders</h3>

<button class="btn btn-primary" @onclick="ShowCreateOrderModal">Create New Order</button>

<div class="container">
    <div class="table-container" style="width: 75%;">
        @if (orders == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <CustomTable Items="orders" Columns="columns" OnRowClick="EventCallback.Factory.Create<CodeOrder>(this, OnOrderClick)" SelectedItem="selectedOrder" />
        }
    </div>
    <div class="details-container" style="width: 25%;">
        @if (selectedOrder != null)
        {
            <h4>Order Information</h4>
            <div>
                <p><strong>ID:</strong> @selectedOrder.Id</p>
                <p><strong>Status:</strong> @selectedOrder.Status</p>
                <p><strong>Gtin:</strong> @selectedOrder.Product?.Gtin</p>
                <p><strong>Created At:</strong> @selectedOrder.RecordDate</p>
                <p><strong>Count:</strong> @selectedOrder.Count</p>
                <p><strong>External GUID:</strong> @selectedOrder.ExternalGuid</p>
            </div>
            <h5>Status History</h5>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var history in selectedOrder.StatusHistoryJson)
                    {
                        <tr>
                            <td>@history.Status</td>
                            <td>@history.StatusDate</td>
                        </tr>
                    }
                </tbody>
            </table>
            <button class="btn btn-secondary" @onclick="ProcessOrder" disabled="@(!IsProcessButtonActive || isProcessing)">Process Order</button>
            <button class="btn btn-secondary" @onclick="DownloadCodes" disabled="@(!IsDownloadCodesButtonActive || isDownloadingCodes)">Pull Codes</button>
            <button class="btn btn-secondary" @onclick="DownloadOrderContent" disabled="@(!IsDownloadContentButtonActive || isDownloadingContent)">Download Content</button>
        }
        else
        {
            <p>Select an order to view details.</p>
        }
    </div>
</div>

@if (showCreateOrderModal)
{
    <div class="modal" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create New Order</h5>
                    <button type="button" class="close" @onclick="CloseCreateOrderModal">&times;</button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>GTIN</label>
                            <input type="text" class="form-control" @bind="gtinInput" @oninput="OnGtinInput" />
                            @if (filteredProducts != null && filteredProducts.Any())
                            {
                                <ul class="list-group">
                                    @foreach (var product in filteredProducts)
                                    {
                                        <li class="list-group-item" @onclick="() => OnGtinSelected(product)">@product.Gtin</li>
                                    }
                                </ul>
                            }
                        </div>
                        <div class="form-group">
                            <label>Product ID</label>
                            <input type="text" class="form-control" @bind="newOrderForm.ProductId" disabled />
                        </div>
                        <div class="form-group">
                            <label>External UID</label>
                            <input type="text" class="form-control" @bind="newOrderForm.ProductUuid" disabled />
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <input type="text" class="form-control" @bind="newOrderForm.Type" disabled />
                        </div>
                        <div class="form-group">
                            <label>Factory</label>
                            <select class="form-control" @bind="newOrderForm.FactoryUuid">
                                @foreach (var factory in factories)
                                {
                                    <option value="@factory.ExternalUid">@factory.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Marking Line</label>
                            <select class="form-control" @bind="newOrderForm.MarkingLineUuid">
                                @foreach (var markingLine in markingLines)
                                {
                                    <option value="@markingLine.ExternalUid">@markingLine.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Codes Count</label>
                            <input type="number" class="form-control" @bind="newOrderForm.CodesCount" max="100000" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" @onclick="CreateOrder">Create</button>
                    <button class="btn btn-secondary" @onclick="CloseCreateOrderModal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private IEnumerable<CodeOrder>? orders;
    private List<CustomTable<CodeOrder>.ColumnDefinition<CodeOrder>> columns = new();
    private CodeOrder? selectedOrder;
    private bool showCreateOrderModal = false;
    private OrderCreateForm newOrderForm = new();
    private IEnumerable<Product>? products;
    private IEnumerable<Factory>? factories;
    private IEnumerable<MarkingLine>? markingLines;
    private string gtinInput = string.Empty;
    private IEnumerable<Product>? filteredProducts;
    private bool isProcessing = false;
    private bool isDownloadingCodes = false;
    private bool isDownloadingContent = false;


    protected override async Task OnInitializedAsync()
    {
        orders = await OrderService.GetOrdersAsync();
        products = await ProductService.GetProductsAsync();
        factories = (await MetadataService.GetFactoriesAsync()).ToList();
        markingLines = (await MetadataService.GetMarkingLinesAsync()).ToList();

        if (factories.Any()) newOrderForm.FactoryUuid = factories.First().ExternalUid;
        if (markingLines.Any()) newOrderForm.MarkingLineUuid = markingLines.First().ExternalUid;

        columns = new()
        {
            new() { Header = "ID", Value = o => o.Id },
            new() { Header = "Status", Value = o => o.Status },
            new() { Header = "Gtin", Value = o => o.Product?.Gtin },
            new() { Header = "Created At", Value = o => o.RecordDate },
            new() { Header = "Count", Value = o => o.Count },
            new() { Header = "External GUID", Value = o => o.ExternalGuid?.ToString() ?? "N/A" }
        };
    }

    private async Task OnOrderClick(CodeOrder order)
    {
        await UpdateExternalOrderStatus(order.Id);
        selectedOrder = await OrderService.GetOrderByIdAsync(order.Id);
    }

    private async Task UpdateExternalOrderStatus(int orderId)
    {
        var result = await OrderService.GetExternalOrderByIdAsync(orderId);
        if (result is not null)
        {
            selectedOrder = result;
            orders = await OrderService.GetOrdersAsync();
        }
        else
        {
            Console.WriteLine("Failed to update external order status: " + orderId);
        }
    }

    private bool IsProcessButtonActive => selectedOrder?.Status == 1 || selectedOrder?.Status == 2;
    private bool IsDownloadCodesButtonActive => selectedOrder?.Content is null && (selectedOrder?.Status == 4 || selectedOrder?.Status == 5);
    private bool IsDownloadContentButtonActive => selectedOrder?.Content is not null;

    private async Task ProcessOrder()
    {
        if (selectedOrder != null)
        {
            isProcessing = true;
            await OrderService.ProcessOrderAsync(selectedOrder.Id);
            await Task.Delay(3000);
            isProcessing = false;
            await Task.Delay(1000);
            await UpdateExternalOrderStatus(selectedOrder.Id);
            selectedOrder = await OrderService.GetOrderByIdAsync(selectedOrder.Id);
            orders = await OrderService.GetOrdersAsync();
        }
    }

    private async Task DownloadCodes()
    {
        if (selectedOrder != null)
        {
            isDownloadingCodes = true;
            await OrderService.DownloadCodesAsync(selectedOrder.Id);
            await Task.Delay(3000);
            isDownloadingCodes = false;
            await Task.Delay(1000);
            await UpdateExternalOrderStatus(selectedOrder.Id);
            selectedOrder = await OrderService.GetOrderByIdAsync(selectedOrder.Id);
            orders = await OrderService.GetOrdersAsync();
        }
    }

    private async Task DownloadOrderContent()
    {
        if (selectedOrder != null)
        {
            isDownloadingContent = true;
            var result = await OrderService.DownloadOrderContentAsync(selectedOrder.Id, "user");

            if (result is Microsoft.AspNetCore.Mvc.FileContentResult fileContentResult)
            {
                var fileName = $"codes_{selectedOrder.ExternalGuid}.txt";
                var fileBytes = fileContentResult.FileContents;

                // Trigger the file download
                await DownloadFileAsync(fileName, fileBytes);
            }
            isDownloadingContent = false;
        }
    }

    private async Task DownloadFileAsync(string fileName, byte[] content)
    {
        var fileStream = new System.IO.MemoryStream(content);
        using var streamRef = new DotNetStreamReference(fileStream);

        await JSRuntime.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }

    private void ShowCreateOrderModal() => showCreateOrderModal = true;

    private void CloseCreateOrderModal()
    {
        showCreateOrderModal = false;
        gtinInput = string.Empty;
        filteredProducts = null;
        newOrderForm = new OrderCreateForm();
    }

    private async Task CreateOrder()
    {
        try
        {
            var result = await OrderService.CreateOrderAsync(newOrderForm);
            if (result is not null)
            {
                orders = await OrderService.GetOrdersAsync();
                showCreateOrderModal = false;
            }
            else
            {
                Console.WriteLine("Failed to create order.");
                showCreateOrderModal = false;
                orders = await OrderService.GetOrdersAsync();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error creating order: {ex.Message}");
            showCreateOrderModal = false;
            orders = await OrderService.GetOrdersAsync();
        }
    }

    private void OnGtinInput(ChangeEventArgs e)
    {
        gtinInput = e.Value?.ToString() ?? string.Empty;
        filteredProducts = !string.IsNullOrEmpty(gtinInput)
            ? products?.Where(p => p.Gtin.Contains(gtinInput, StringComparison.OrdinalIgnoreCase)).Take(5)
            : null;
    }

    private void OnGtinSelected(Product product)
    {
        gtinInput = product.Gtin;
        newOrderForm.ProductId = product.Id;
        newOrderForm.ProductUuid = product.ExternalUid;
        newOrderForm.Type = (sbyte)product.Type;
        filteredProducts = null;
    }

    private string GetProductTypeString(int type)
    {
        return type switch
        {
            0 => "Pack",
            1 => "Bundle",
            2 => "Mastercase",
            _ => "Unknown"
        };
    }
}