@page "/products"
@inject IProductService ProductService

<h3>Products</h3>

<div class="container">
    <div class="table-container" style="width: 75%;font-size: 12px;">
        @if (products == null)
        {
            <p>Loading...</p>
        }
        else
        {
            <CustomTable Items="products" Columns="columns" OnRowClick="EventCallback.Factory.Create<Product>(this, OnProductClick)" SelectedItem="selectedProduct" />
        }
    </div>
    <div class="details-container" style="width: 25%;font-size: 12px;">
        @if (selectedProductExternalInfo != null)
        {
            <h4>External Product Information</h4>
            <div>
                <p><strong>Name:</strong> @selectedProductExternalInfo.name</p>
                <p><strong>GTIN:</strong> @selectedProductExternalInfo.gtin</p>
                <p><strong>Manufacturer:</strong> @selectedProductExternalInfo.manufacturerName</p>
                <p><strong>Weight (Gross):</strong> @selectedProductExternalInfo.weightGross</p>
                <p><strong>Dimensions:</strong> @selectedProductExternalInfo.length x @selectedProductExternalInfo.width x @selectedProductExternalInfo.height</p>
                <p><strong>Storage Conditions:</strong> @selectedProductExternalInfo.storageConditions</p>
                <p><strong>Composition:</strong> @selectedProductExternalInfo.composition</p>
                <p><strong>Country of Origin:</strong> @selectedProductExternalInfo.productCountryOfOrigin</p>
            </div>
        }
        else
        {
            <p>Select a product to view external information.</p>
        }
    </div>
</div>

@code {
    private IEnumerable<Product>? products;
    private List<CustomTable<Product>.ColumnDefinition<Product>> columns = new();
    private ProductInfoResponse? selectedProductExternalInfo;
    private Product? selectedProduct;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var updateExternal = await ProductService.GetExternalProductsAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching external products: {ex.Message}");
        }
        try
        {
            products = await ProductService.GetProductsAsync();
            columns = new()
            {
                new() { Header = "ID", Value = p => p.Id },
                new() { Header = "Name", Value = p => p.Name },
                new() { Header = "GTIN", Value = p => p.Gtin },
                new() { Header = "Type", Value = p => GetProductTypeString(p.Type) },
                new() { Header = "External UUID", Value = p => p.ExternalUid },
                new() { Header = "Record Date", Value = p => LTime(p.RecordDate) }
            };
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching products: {ex.Message}");
        }
    }

    private async Task OnProductClick(Product product)
    {
        selectedProduct = product;
        try
        {
            var result = await ProductService.GetExternalProductByIdAsync(product.ExternalUid.ToString());
            if (result.Success && result.Content != null)
            {
                selectedProductExternalInfo = result.Content;
            }
            else
            {
                Console.WriteLine("Failed to fetch external product info: " + result.Message);
                selectedProductExternalInfo = null;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching external product info: {ex.Message}");
            selectedProductExternalInfo = null;
        }
    }

    public string LTime(DateTimeOffset time)
    {
        return time.ToLocalTime().ToString("dd.MM.yyyy HH:mm:ss");
    }
    private string GetProductTypeString(int type)
    {
        return type switch
        {
            0 => "Pack",
            1 => "Bundle",
            3 => "Mastercase",
            _ => "Unknown"
        };
    }
}